@import url('https://fonts.googleapis.com/css?family=Cabin');
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');
html {
	overflow-y: scroll;
}

body{
	margin-left:auto;
	margin-right:auto;
	position: relative;
	line-height: 1.6;
    overflow-x: hidden;
	padding: 2%;
	display: 'block';
    background-image: url(img/profile.jpg);
}

.btn-light:first-of-type{
    width: 50%;
    margin-left: 25%;
    margin-top: 0%; 
	font-size: 1.4em; 
    float: left;
	font-family: "Franklin Gothic Demi", sans-serif;
	color: #1a535c;
}

.btn-warning{
	margin-left: 12%;
    margin-top: 0%; 
	font-size: 1.4em; 
	float: left;
	color: #1a535c;
	font-family: "Franklin Gothic Demi", sans-serif;
}

.btn-light, 
.btn-warning{
	display: inline-block;
}

.avatar {
    margin-left: 25%;
    margin-top: -7%; 
    width: 10em;
    height: 10em;
    border-radius: 50%;
}

.imformation{
    font-family: 'Cabin', sans-serif;
    margin-top: 7%;
	margin-left: 7%;
	width: 30%;
    padding: 0.5em;
    color:#f8f8ff;
    background-color: #cccccc;
    border: 3px solid #cccccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
	border-radius: 20px;
}

.avatar, 
.imformation{
	display: inline-block;
}

.nickname{
    color: #595959;
    font-size: 1.4em; 
}

.score{
    color: #595959;
    font-size: 1.6em; 
    margin-left: 37%;
}

.nickname,
.points,
.score{
    display: inline-block;
}

.title{
    font-family: 'Abril Fatface', cursive;
    font-size: 1.4em; 
    margin-top: 7%;
	margin-left: 25%;
}
.spheres{
    font-family: 'Cabin', sans-serif;
    font-size: 1.2em;
    margin-top: 2%;
	margin-left: 25%;
    width: 50%;
    height: 25%;
    padding: 0.5em;
    color: #595959;
    background-color: #cccccc;
    border: 3px solid #cccccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
	border-radius: 20px;
}